<div class="side-header">
  <div class="user-info">
    <a href="#">TOM</a>
  </div>
  <div class="chat-create">
    <a href="#">チャットを作成する</a>
  </div>

</div>

<div class="side-main">
  <div class="chat-list">
    <div class="chat-name">
      <a href="#">techroom1</a>
    </div>
  <div class="chat-list">
    <div class="chat-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>
