.wrapper{
  display: flex;
 }

.side-bar{
  height: 100vh;
  width: 300px;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info a{ 
  color: #FAFAFA;
  size: 16px;
  text-decoration: none;
}

.chat-create{
  font-size: 10px;
}

.chat-create a{
  color: deepskyblue;
  padding: 14px;
  border: lightblue 1px solid;
  text-decoration: none;
}

.side-main{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-list{
  padding: 20px 0 40px;
}

.chat-name a{
  text-decoration: none;
  color: white;
}

.chat{
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.chat-header{
  height: 100px;
  padding: 0 40px;
}

.chat-main{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0px;
}

.chat-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}